[submodule "org-spec"]
	path = org-spec
	url = https://github.com/dot-agent-spec/.github.git
[submodule "dsl/tree-sitter-agent"]
	path = dsl/tree-sitter-agent
	url = https://github.com/daniloborges/dot-agent-tree-sitter.git
[submodule "DSL/zed-agent/grammars/agent"]
	path = dsl/zed-agent/grammars/agent
	url = https://github.com/daniloborges/dot-agent-tree-sitter.git
[submodule "dsl/language-server"]
	path = dsl/language-server
	url = git@github.com:daniloborges/language-server.git
